*{
    font-family: 'Prompt', sans-serif;
    color: #572617;
}
body{
    background: radial-gradient(#ffe5f4, #fffbe3);
    background-attachment: fixed;
    padding: 5vh;
}
.pic{
    text-align: center;
    margin-bottom: 3vh;
}
.pic img{
    width: 30vh;
    height: 30vh;
    border-radius: 10vh;
}
h1{
    text-align: center;
}
.txt{
    text-align: center;
}